.card {
   padding: 1.5rem;
   text-align: left;
   color: var(--on-background);
   text-decoration: none;
   border-radius: 1rem;
   border: 1px solid var(--on-background);
   max-width: 300px;
   transition: all 0.3s ease-in-out;

   .title {
      font-size: 1.75rem;
      font-weight: bold;
      margin: 0 0 0.5rem 0;
      display: inline-flex;
      gap: 0.5rem;
      justify-content: space-between;
      align-items: center;
   }

   &:hover {
      color: var(--clr-primary);
      border-color: var(--clr-primary);
      box-shadow: 0 1px 4px var(--clr-shadow);
   }
}
