.institution {
   font-size: 1.2rem;
   font-weight: bold;
   margin-bottom: 0.5rem;

   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;

   .dates {
      font-size: 0.8rem;
      font-weight: 600;
   }
}

.degree {
   font-size: 1rem;
   font-weight: bold;
   margin-bottom: 0.5rem;

   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}

.specialization,
.minor {
   font-size: 0.9rem;
   font-weight: bold;
   margin-top: 0.15rem;
   margin-bottom: 0.25rem;
}

.classListHeader {
   font-size: 0.9rem;
   font-weight: bold;
   margin-bottom: 0.25rem;
}

.classList {
   font-size: 0.8rem;
   font-weight: bold;

   li {
      margin-bottom: 0.7rem;
      list-style: none;
      display: grid;
      grid-template-columns: 1fr;

      border-left: 2px solid hsl(0, 0%, 70%);
      padding-left: 0.5rem;
   }
}
